/* Coolors Exported Palette - coolors.co/c4baba-4b5c60-829191-252833-9b9393 */

/* HSL */
$color1: hsla(0%, 8%, 75%, 1);
$color2: hsla(191%, 12%, 34%, 1);
$color3: hsla(180%, 6%, 54%, 1);
$color4: hsla(227%, 16%, 17%, 1);
$color5: hsla(0%, 4%, 59%, 1);

/* RGB */
$color1: rgba(196, 186, 186, 1);
$color2: rgba(75, 92, 96, 1);
$color3: rgba(130, 145, 145, 1);
$color4: rgba(37, 40, 51, 1);
$color5: rgba(155, 147, 147, 1);